// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap
.main-nav {
  @include css3-compatible(transition, all 0.4s cubic-bezier(.68, -0.55, .27, 1.55));
  background-color: transparent;
  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
  padding: 10px 10px 0 10px !important;
  .button-menu {
    border: none;
    i {
      @include css3-compatible(transition, all 10s cubic-bezier(.68, -0.55, .27, 1.55));
    }
  }
  .main-menu {
    width: 100%;
    padding: 0.5em 0 0 0;
    ul {
      flex-direction: row;
      flex-wrap: wrap;
      border-bottom: 1px solid $orange1;
      border-top: 1px solid $orange1;
      li {
        width: 50%;
        border-bottom: 1px solid $orange1;
        a {
          display: flex;
          flex-direction: column;
          margin: 1em 0;
          padding: 0;
          p {
            margin-bottom: 0.5em;
          }
        }
      }
      .nav-border-right {
        border-right: 1px solid $orange1;
      }
    }
  }
}

.content-first {
  .quotes {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    .quotes-bg {
      background-image: url("../../../storage/app/public/upload/images/bg-head1.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 122%;
      //z-index: -1;
    }
    .qoutes-bg-color {
      background: rgba(0, 0, 0, 0.3);
      position: absolute;
      width: 100%;
      height: 100vh;
      top: 0;
      left: 0;
    }
    .quotes-content {
      position: absolute;
      z-index: 1;
      top: 24vh;
      width: 100%;
      margin-left: -15px;
      h1 {
        margin: 0;
      }
    }
    .quotes-btn {
      position: absolute;
      z-index: 1;
      display: flex;
      justify-content: center;
      top: 70vh;
      left: 50%;
      margin-left: -106px;
      .btn-head {
        border-radius: 0;
      }
      .btn-my-music {
        background-color: transparent;
        border: 1px solid $orange3;
      }
      .btn-theloai {
        background-color: $orange3;
      }
    }
  }
  .ranking {
    .ranking-title {
      margin: 0;
      padding: 0.5em 0;
    }
    .media-wrapper {
      margin: 0 -15px;
    }
    .list-song {
      color: $while;
      table {
        margin: 0;
        tr {
          border-top: 1px solid $gray;
          height: 50px;
          td {
            border: none;
            padding: 0.5em;
            button {
              width: 100%;
              background-color: transparent;
              border: none;
              text-align: left;
            }
          }
        }
        tr:first-child {
          border: none;
        }
      }
    }
  }
}

.slideshow {
  .dg-main {
    width: 100vw;
    overflow: hidden;
    .slideshow-title {
      display: none;
    }
  }
}

.user {
  //background-image: url("../../../public/images/bg-head.jpg");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  .user-background {
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
  }
  .user-hello {
    margin: 4em 0;
  }
  .user-play {
    .user-play-img {
      margin: 0 auto;
      background-repeat: no-repeat;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      i {
        font-size: 40px;
        margin-top: 80px;
        margin-left: 89px;
        opacity: 0.6;
      }
    }
  }
}

.categories, .singers {
  .category, .singer {
    padding: 2em 1em;
    h5 {
      display: inline-block;
    }
    .category-icon, .singer-icon {
      margin-left: 0.5em;
    }
    .category-list, .singer-list {
      margin-top: 1.5em;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      .list-img {
        width: 47.5%;
        margin-bottom: 15px;
        position: relative;
        img {
          width: 100%;
          margin: 0 auto;
        }
        .list-title {
          display: block;
          background-color: rgba(0,0,0,0.6);
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 100%;
          @include css3-compatible(transition, all 0.5s cubic-bezier(.68, -0.55, .27, 1.55));
          p {
            margin: 2.5em 0 0;
            @include css3-compatible(transition, all 0.5s cubic-bezier(.68, -0.55, .27, 1.55));
          }
        }
        .list-title:hover {
          background-color: rgba($orange2,0.8);
          p {
            @include css3-compatible(transform, scale(1.2));
            font-weight: bold;
          }
        }
      }
    }
  }
}

//================PAGE LOGIN===============
.auth {
  width: 100%;
  height: 100vh;
  .auth-content {
    width: 100%;
    margin-top: 25%;
    .panel-heading {
      color: $orange2;
      text-align: center;
      margin-bottom: 0.5em;
    }
    a {
      display: block;
    }
    .auth-submit {
      display: flex;
      h1 {
        color: $orange2;
      }
      .btn-submit, .btn-register {
        border-radius: 0;
        width: 50%;
        margin-top: 1em;
      }
      .btn-submit {
        border: 1px solid $orange2;
        background-color: $while;
        color: $orange2;
      }
      .btn-register {
        border: none;
        background-color: $orange2;
      }
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 480px) {

}



