@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.music-card {
  margin-bottom: 20px;
  background: #eee;
  box-shadow: 9px 7px 37px -6px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  position: relative;
  width: 100vw;
  height: 550px;
  .audio-time {
    color: white;
    position: absolute;
    bottom: 18.5em;
    z-index: 2;
    width: 100%;
    display: block;
    align-items: center;
    padding: 0 0.5em;
    .time {
      width: 9%;
      display: inline-block;
    }
    .progress {
      display: inline-block;
      width: 67%;
      height: 0.4em;
      background-color: #666;
      border-radius: 0.1em;
      border: 1px solid rgba(255, 255, 255, 0.5);
      cursor: pointer;
    }

    .progress .progress-span {
      display: block;
      width: 0;
      height: 100%;
      background-color: white;
    }
  }
  .audio-time > * {
    margin: 0 0.5em;
  }
  .player-controls {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1em 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    .button-control {
      position: relative;
    }
  }
  .trigger {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-image: linear-gradient(#ddd, #f6f6f6);
    border: none;
    border-radius: 50%;
    &::before {
      content: '';
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      width: 80%;
      height: 80%;
      transform: translate(-50%, -50%);
      background-color: #f4f4f4;
      border: 0.125em solid #d5d5d5;
      border-radius: 50%;
      box-shadow: inset 0 0.25em 1em -0.25em rgba(255, 255, 255, 0.75);
    }
    .arrow {
      position: absolute;
      z-index: 1;
      top: 50%;
      left: 50%;
      //overflow: hidden;
      transform: translate(-50%, -50%);
    }
    .fa {
      font-size: 15px;
      cursor: pointer;
      color: $gray;
    }
    .fa-play {
      left: 54%;
    }
    .arrow-play {
      font-size: 25px;
      color: $orange2;
    }
  }
  .trigger:hover::before {
    background-color: #ffffff;
  }
  .play-pause {
    width: 80px;
    height: 80px;
  }
}

.jAudio--controls {

}

.image {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 1;
  opacity: 0.8;
  height: 320px;
  width: 100%;
}

.image:after {
  height: 100px;
  content: '';
  top: 221px;
  position: absolute;
  width: 100%;
  z-index: 1;
  background: linear-gradient(rgba(9, 2, 4, 0), #444);
}

.wave {
  position: absolute;
  height: 750px;
  width: 750px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -14em;
  margin-top: -30em;
  background: radial-gradient(#353535, #383737);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 10px;
}

.playing .wave {
  //border-radius: 40%;
  //animation: wave 3000ms infinite linear;
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

/* when stop */
.wave {
  //border-radius: 40%;
  //animation: wave 55s infinite linear;
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 50s;
  //animation-duration: 4000ms;
}

/* when stop */
.wave:nth-child(2) {
  //animation-duration: 50s;
  animation-duration: 4000ms;
}

.playing .wave:nth-child(3) {
  //animation-duration: 5000ms;
  animation-duration: 45s;
}

/* when stop */
.wave:nth-child(3) {
  //animation-duration: 45s;
  animation-duration: 5000ms;
}

.info {
  position: absolute;
  bottom: 80px;
  left: 0;
  right: 0;
  text-align: center;
  p {
    font-size: 1.5em;
    color: $orange3;
    font-weight: bold;
  }
  span {
    font-weight: normal;
    color: gray;
  }
}

.title {
  font-size: 1.4em;
  font-weight: 400;
  color: #333;
  margin-bottom: 8px;
  text-transform: uppercase;
  font-family: 'Reem Kufi', sans-serif;
}

.artist {
  color: #cfcfcf;
  font-size: 1.2em;
  letter-spacing: 0.08em;
  font-family: 'Reem Kufi', sans-serif;
}

.jAudio--playlist {
  background: #fff;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 2;
  width: 100%;
  height: 100%;
  //display: none;
  @include css3-compatible(transition, all 0.5s cubic-bezier(.68, -0.55, .27, 1.55));
}

.jAudio--playlist-item {
  width: 100%;
  padding: 1.5em;
  display: table;
}

.jAudio--playlist-item:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}

.jAudio--playlist-item.active {
  background: #f55c5c;
  border-bottom-color: #f55c5c;
}

.jAudio--playlist-item.active * {
  color: #fff;
}

.jAudio--playlist-item:not(.active):hover {
  background: #fafafa;
}

.jAudio--playlist-item:last-of-type {
  border: 0;
  margin-bottom: 0;
}

.jAudio--playlist-thumb {
  float: left;
  margin-right: 0.66667rem;
  display: table;
}

.jAudio--playlist-thumb:after {
  content: " ";
  display: block;
  width: 100%;
  clear: both;
}

.jAudio--playlist-thumb img {
  height: 2.7rem;
  width: 2.7rem;
  border-radius: 50%;
  float: left;
  margin-right: 0.5rem;
}

.jAudio--playlist-meta {
  p {
    margin-bottom: 0;
  }
}

.jAudio--playlist-meta-track-name {
  font-size: 1rem;
  color: #000;

}

.jAudio--playlist-meta-track-artist {
  font-size: 0.8rem;
}

.button-list {
  position: absolute;
  left: 0.5em;
  top: 35%;
  text-align: center;
  line-height: 2em;
  background-color: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 2em;
  z-index: 3;
  width: 2em;
  height: 2em;
  border: 1px solid white;
  border-radius: 50%;
  @include css3-compatible(transition, all 0.5s cubic-bezier(.68, -0.55, .27, 1.55));
}

@media (min-width: 480px) {
  .player {
    width: 320px;
    margin: 0 auto;
    .music-card {
      width: 100%;
    }
  }
  }

