.dg-container{
	width: 100%;
	position: relative;
}
.dg-wrapper{
	height: 190px;
	margin: 0 auto;
	position: relative;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	-o-perspective: 1000px;
	-ms-perspective: 1000px;
	perspective: 1000px;
}
.dg-wrapper a{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	/*box-shadow: 0px 10px 20px rgba(0,0,0,0.3);*/
}
.dg-wrapper a.dg-transition{
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}
.dg-wrapper a img{
	display: block;
	padding: 0px 0px 0px 1px;
}
.dg-wrapper a div{
	font-style: italic;
	text-align: center;
	line-height: 50px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
	color: #333;
	font-size: 16px;
	width: 100%;
	bottom: -55px;
	display: none;
	position: absolute;
}
.dg-wrapper a.dg-center div{
	display: block;
}
.btn-slideshow {
	position: absolute;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5em;
	margin-top: 20%;
	cursor: pointer;
}
.btn-prev {
	/*width: 50%;*/
	/*margin-left: 0.5em;*/
	opacity: 0.3;
}
.btn-prev:hover {
	opacity: 0.8;
}
.btn-next {
	/*width: 50%;*/
	/*text-align: right;*/
	/*margin-right:  0.5em;*/
	opacity: 0.3;
}
.btn-next:hover {
	opacity: 0.8;
}
