@font-face {
  font-family: 'mainFont';
  src: url('../../fonts/font-chinh/Quicksand-Regular.ttf');
}
@font-face {
  font-family: 'mainFontBold';
  src: url('../../fonts/font-chinh/Quicksand-Bold.ttf');
}

//định dạng chữ chung
body {
  font-family: "mainFont", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  color: $gray;
}

a {
  text-decoration: none;
}

.button-menu {
  i {
    font-size: 1.2em;
    color: $orange3;
  }
}

.main-menu {
  ul {
    li {
      a {
        i {
          font-size: 1.5em;
          text-align: center;
          line-height: 1.5;
          color: $orange3;
        }
        p {
          text-align: center;
          font-size: 1.2em;
        }
      }
    }
  }
}

.content-first {
  .quotes {
    .quotes-content {
      color: $while;
      text-align: center;
      font-weight: 900;
      text-shadow: 3px 3px 3px rgba(39, 39, 39, 0.4);
      h1 {
        font-size: 6em !important;
        text-shadow: 5px 4px 3px rgba(39, 39, 39, 0.3);
        span {
          color: $orange3;
        }
      }
    }
    .quotes-btn {
      .btn-my-music {
        color: $while;
        font-weight: bold;
        text-shadow: 5px 4px 3px rgba(39, 39, 39, 0.3);
      }
      .btn-theloai {
        color: $while;
        font-weight: bold;
      }
    }
  }
  .ranking {
    .ranking-title {
      text-align: center;
      color: $while;
      font-size: 2em;
    }
    .list-song {
      table {
        tr {
          td {
            line-height: 50px;
          }
        }
        tr:first-child {
          border: none;
        }
      }
    }
  }
}

.slideshow {
  font-size: 2em;
  color: $orange2;
  text-align: center;
  .dg-main {
    .slideshow-title {
    }
  }
}

.user {
  .user-hello {
    text-align: center;
    p {
      color: $orange3;
      font-size: 5em;
    }
    span {
      color: $while;
      font-weight: bold;
      font-size: 2em;
    }
  }
  .user-play {
    .user-play-img {
      i {
        font-size: 40px;
        opacity: 0.6;
      }
    }
  }
}

.categories, .singers {
  .category, .singer {
    .category-icon, .singer_icon {
      color: $orange3;
      font-size: 1.5em;
    }
    h5 {
      color: $orange3;
      font-weight: bold;
    }
    .category-list, .singer-list {
      .list-img {
        .list-title {
          p {
            color: white;
            text-align: center;
            font-size: 1.6em;
          }
        }
      }
    }
  }
}